site_name: Index.py
site_description: 一个基于 ASGI 协议的异步 Web 框架.

repo_name: Index.py
repo_url: https://github.com/abersheeran/index.py
edit_uri: "https://github.com/abersheeran/index.py/tree/master/docs/"

use_directory_urls: true

theme:
  name: "material"
  language: "zh"
  palette:
    accent: teal
  font:
    code: Fira Code
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16

nav:
  - 介绍: index.md
  - 路由: route.md
  - Http: "http.md"
  - WebSocket: "websocket.md"
  - Lifespan: "event.md"
  - 接口文档: "parameters.md"
  - 命令: "command.md"

markdown_extensions:
  - admonition
  - extra
  - pymdownx.highlight:
      linenums: true
  - pymdownx.superfences
  - pymdownx.details

plugins:
  - search
  - i18n:
      default_language: zh
      languages:
        zh: 中文
        en: English
      nav_translations:
        en:
          介绍: Introduction
          路由: Routing
          命令: Commands
          接口文档: API Docs

extra:
  analytics:
    provider: google
    property: G-48LLZS5518

copyright: Copyright &copy; <a href="https://abersheeran.com">AberSh</a>
