[[source]]
name = "pypi"
url = "https://pypi-mirror.abersheeran.com/simple/"
verify_ssl = true

[dev-packages]
mypy = "*"
black = "*"
mkdocs = "*"
mkdocs-material = "*"
pytest = "*"
pytest-asyncio = "*"

[packages]

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
