[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
uvicorn = "*"
starlette = "*"
aiofiles = "*"
watchdog = "*"

[requires]
python_version = "3.6"
