[tool.poetry]
authors = ["abersheeran <me@abersheeran.com>"]
classifiers = [
  "License :: OSI Approved :: Apache Software License",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: Implementation :: CPython",
]
description = "An easy-to-use high-performance asynchronous web framework."
documentation = "https://index-py.abersheeran.com/"
homepage = "https://github.com/abersheeran/index.py"
license = "Apache-2.0"
name = "index.py"
packages = [
  {include = "indexpy"},
]
readme = "README.md"
repository = "https://github.com/abersheeran/index.py"
version = "0.21.2"

[tool.poetry.scripts]
index-cli = "indexpy.cli:index_cli"

[tool.poetry.dependencies]
python = "^3.7"

baize = "^0.11.0"
click = {version = "^8.0", optional = true}
pydantic = "^1.8"
typing-extensions = "^3.10.0"

[tool.poetry.extras]
cli = ["click"] # for index-cli commands
docs = ["mkdocs", "mkdocs-material", "mkdocs-static-i18n"]

[tool.poetry.dev-dependencies]
flake8 = "*"
mypy = {version = "*", allow-prereleases = true}
types-click = "^7.1.0"

black = {version = "*", allow-prereleases = true}
isort = "*"

# for tests
async-asgi-testclient = "^1.4.6"
pytest = "^6.2.5"
pytest-asyncio = "^0.12"
pytest-cov = "^2.8.1"

# only docs
mkdocs = {extras = ["i18n"], version = "^1.2.1"}
mkdocs-material = "^7.1.8"
mkdocs-static-i18n = "^0.16"

[tool.isort]
profile = "black"

[tool.coverage.run]
omit = [
  "*/.venv/*",
  "*/tests/*",
  "indexpy/status.py",
  "indexpy/cli.py",
  "indexpy/routing/commands.py",
]

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "raise NotImplementedError",
  "return NotImplemented",
  "if False:",
  "assert False",
  "if typing.TYPE_CHECKING:",
  "if TYPE_CHECKING:",
  "pass",
]
show_missing = true
skip_covered = true

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]
