[tool.poetry]
authors = ["abersheeran <me@abersheeran.com>"]
classifiers = [
  "License :: OSI Approved :: Apache Software License",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: Implementation :: CPython",
]
description = "An easy-to-use high-performance asynchronous web framework."
documentation = "https://index-py.abersheeran.com/"
homepage = "https://github.com/abersheeran/index.py"
license = "Apache-2.0"
name = "index.py"
packages = [
  {include = "indexpy"},
]
readme = "README.md"
repository = "https://github.com/abersheeran/index.py"
version = "0.16.0"

[tool.poetry.scripts]
index-cli = "indexpy.cli:index_cli"

[tool.poetry.dependencies]
python = "^3.7"

click = "^7.1.2"
gunicorn = {version = "*", optional = true}
pydantic = "^1.6"
python-multipart = "^0.0.5"
requests = {version = "^2.24.0", optional = true}
starlette = "^0.13.6"
typing-extensions = {version = "^3.7.4", python = "<3.8"}
uvicorn = {version = "*", optional = true}

[tool.poetry.extras]
full = ["uvicorn", "gunicorn", "requests"]
serve = ["gunicorn", "uvicorn"] # for 'index-cli serve && index-cli gunicorn'
test = ["requests"] # include all dependencies for test

[tool.poetry.dev-dependencies]
black = {version = "*", allow-prereleases = true}
coverage = {extras = ["toml"], version = "^5.2"}
flake8 = "*"
mypy = {version = "*", allow-prereleases = true}
pytest = "^5.4.2"
pytest-asyncio = "^0.12"
pytest-cov = "^2.8.1"

# only docs
mkdocs = "*"
mkdocs-material = "*"

[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}

[tool.coverage.run]
omit = ["*/.venv/*", "*/tests/*"]

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "def __repr__",
  "raise AssertionError",
  "raise NotImplementedError",
  "if False:",
  "assert False",
]
show_missing = true
skip_covered = true

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]
