[tool.poetry]
authors = ["abersheeran <me@abersheeran.com>"]
classifiers = [
  "License :: OSI Approved :: Apache Software License",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: Implementation :: CPython",
]
description = "An easy-to-use high-performance asynchronous web framework."
documentation = "https://index-py.abersheeran.com/"
homepage = "https://github.com/abersheeran/index.py"
license = "Apache-2.0"
name = "index.py"
packages = [
  {include = "indexpy"},
]
readme = "README.md"
repository = "https://github.com/abersheeran/index.py"
version = "0.17.4"

[tool.poetry.scripts]
index-cli = "indexpy.cli:index_cli"

[tool.poetry.dependencies]
python = "^3.7"

baize = {version = "^0.8.0", extras = ["multipart"]}
click = {version = "^7.1.2", optional = true}
pydantic = "^1.8"

[tool.poetry.extras]
cli = ["click"] # for index-cli commands

[tool.poetry.dev-dependencies]
flake8 = "*"
mypy = {version = "*", allow-prereleases = true}

black = {version = "*", allow-prereleases = true}
isort = "*"

# for tests
async-asgi-testclient = "^1.4.6"
pytest = "^5.4.2"
pytest-asyncio = "^0.12"
pytest-cov = "^2.8.1"

# only docs
mkdocs = "*"
mkdocs-material = "*"

[tool.isort]
profile = "black"

[tool.coverage.run]
omit = ["*/.venv/*", "*/tests/*", "indexpy/cli.py"]

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "raise NotImplementedError",
  "if False:",
  "assert False",
  "if typing.TYPE_CHECKING:",
  "if TYPE_CHECKING:",
  "pass",
]
show_missing = true
skip_covered = true

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]
