[tool.poetry]
name = "index.py"
version = "0.8.7"
description = "An easy-to-use asynchronous web framework based on ASGI."
authors = ["abersheeran <me@abersheeran.com>"]
license = "Apache-2.0"
homepage = "https://github.com/abersheeran/index.py"
repository = "https://github.com/abersheeran/index.py"
documentation = "https://index-py.abersheeran.com/"
classifiers=[
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: Implementation :: CPython",
]
packages = [
    { include = "indexpy" },
]

[tool.poetry.scripts]
index-cli = "indexpy.cli:main"

[tool.poetry.dependencies]
python = "^3.6"
gunicorn = "^20.0.4"
uvicorn = "^0.11.3"
starlette = "^0.13.1"
requests = "^2.23.0"
pytest = "^5.4.1"
aiofiles = "^0.4.0"
jinja2 = "^2.10.3"
watchdog = "^0.10.2"
python-multipart = "^0.0.5"
pyyaml = "^5.3"
pydantic = "^1.3"
contextvars = { version="^2.4", python= "~3.6" }

[tool.poetry.dev-dependencies]
mypy = "^0.761"
pylint = "^2.4.4"
black = "^19.10b0"
mkdocs = "^1.0.4"
mkdocs-material = "^4.6.0"
pytest-asyncio = "^0.10.0"
coverage = "^5.0.3"
django = "^3.0.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
