site_name: Kuí
site_url: https://kui.aber.sh
site_description: An easy-to-use web framework.

# Repository
repo_name: abersheeran/kui
repo_url: https://github.com/abersheeran/kui
edit_uri: blob/master/docs/docs/

# Copyright
copyright: Copyright &copy; 2023 by Kuí.

# Configuration
theme:
  name: material
  features:
    - content.action.edit
    - content.action.view
    - search.suggest
    - search.highlight
    - search.share
    - navigation.tabs

# Plugins
plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
      lang:
        - zh
        - en

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/abersheeran
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/kui/

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

# Page tree
nav:
  - Intro: index.md
  - ASGI:
      - Intro: asgi/index.md
      - Application: asgi/application.md
      - Routing: asgi/routing.md
      - Http: asgi/http.md
      - Lifespan: asgi/lifespan.md
      - WebSocket: asgi/websocket.md
  - WSGI:
      - Intro: wsgi/index.md
      - Application: wsgi/application.md
      - Routing: wsgi/routing.md
      - Http: wsgi/http.md
  - Dependency injection:
      - Intro: dependency-injection/index.md
      - Request Parameters: dependency-injection/request.md
      - Depends: dependency-injection/depends.md
      - Security: dependency-injection/security.md
      - OpenAPI Document: dependency-injection/openapi.md
